@font-face {
  font-family: 'Geist-Mono-Regular';
  src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/996b00fb-4b7a-403d-8da2-ce2225450681.woff2') format('woff2');
}

html,
body {
  --color-black-100: rgba(0, 0, 0, 1);
  --color-black-100-1: rgba(0, 0, 0, 0.1);
  --color-black-100-2: rgba(0, 0, 0, 0.2);
  --color-black-100-4: rgba(0, 0, 0, 0.4);
  --color-blue-10: rgba(237, 245, 255, 1);
  --color-blue-60: rgba(15, 98, 254, 1);
  --color-blue-60-2: rgba(15, 98, 254, 0.2);
  --color-blue-70: rgba(0, 67, 206, 1);
  --color-blue-80: rgba(0, 45, 156, 1);
  --color-gray-20: rgba(224, 224, 224, 1);
  --color-gray-40-2: rgba(168, 168, 168, 0.2);
  --color-gray-70-3: rgba(82, 82, 82, 0.3);
  --color-gray-90: rgba(38, 38, 38, 1);
  --color-white: rgba(255, 255, 255, 1);

  --font-family-mono: 'Geist-Mono-Regular', Consolas, monaco, monospace;
  --theme-line-height-base: 1.25;
  --theme-text: var(--color-black-100);
  --theme-background: var(--color-white);
  --theme-border: var(--color-gray-20);
  --theme-border-subdued: var(--color-gray-40-2);

  background: var(--theme-background);
  color: var(--theme-text);
  font-family: var(--font-family-mono);
  line-height: calc(var(--theme-line-height-base) * 1rem);
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 400;
}